<h4>Editar Cargo</h4>

<section>
    <div class="row g-3 mt-3">
        <div class="col-sm-12 col-md-4">
          <label for="nome" class="form-label">Nome</label>
          <input class="form-control" name="nome" [(ngModel)]="cargoNome" placeholder="Obrigatório">
        </div>       

        <div class="col-auto d-flex align-items-end">
            <button type="button" class="btn btn-primary" (click)="editarCargo()" [disabled]="botaoHabilitado">Editar</button>
        </div>    
        
        <div class="col-auto d-flex align-items-end">
            <a role="button" class="btn btn-secondary" routerLink="/cargos">Voltar</a>
        </div>    
    </div>
</section>
